jwt_secret_key=your-secret-key
jwt_algorithm=HS256
access_token_expire_minutes=1440
mongodb_url=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
mongodb_db_name=nuva
b2_region=us-east-005
b2_endpoint_url=https://s3.us-east-005.backblazeb2.com
b2_access_key_id=your-b2-key-id
b2_secret_access_key=your-b2-application-key
b2_bucket_name=your-b2-bucket-name
cloudflare_cdn_base_url=https://cdn.example.com
cors_origins=["http://localhost:5173","http://127.0.0.1:5173"]
